services:
  eip-odoo-openelis:
    image: mekomsolutions/eip-client
    environment:
      EIP_ODOO_FHIR_URL: http://odoo-fhir:8080
      EIP_ODOO_FHIR_USERNAME: ${EIP_ODOO_FHIR_USERNAME}
      EIP_ODOO_FHIR_PASSWORD: ${EIP_ODOO_FHIR_PASSWORD}
      EIP_OPENLIS_URL: http://fhir.openelis.org:8080
      EIP_SUBSCRIPTION_ENDPOINT: http://odoo-fhir:8080/odoo/fhir/R4
      EIP_SYNC_TASK_LAST_RUN_TS_FILE: ${EIP_SYNC_TASK_LAST_RUN_TS_FILE}
      LOG_LEVEL: ${EIP_ODOO_OPENELIS_LOG_LEVEL:-INFO}
      EIP_SYNC_TASK_INITIAL_DELAY: ${EIP_SYNC_TASK_INITIAL_DELAY}
      EIP_SYNC_TASK_DELAY: ${EIP_SYNC_TASK_DELAY}
    depends_on:
      odoo-fhir:
        condition: service_started
      fhir.openelis.org:
        condition: service_started
    volumes:
      - "${DISTRO_PATH}/binaries/eip-odoo-openelis:/eip-client/routes"
    networks:
      web:
      ozone:
        aliases:
          - eip-odoo-openelis
